[Migration of Satellite 6.2 running on RHEL7 to macrocontainer](https://github.com/leapp-to/leapp/wiki/Migration-of-Satellite-6.2-running-on-RHEL7)

[Migration of Satellite 5.8 running on RHEL6 to macrocontainer](https://github.com/leapp-to/leapp/wiki/Migration-of-Satellite-5.8-running-on-RHEL6)